// Color variables
$default-color: #303030;
$background-color: #fff;
$border-color: rgb(160, 160, 160);

// Type
$title-color: #3c3b3b;
$detail-color: #5e5e5e;



// Features
$accent-color: #ee0200;
$selection-color: rgba(238, 2, 0, .3);

// Grey scale color palette
// #000000
// #303030
// #5e5e5e
// #919191
// #c6c6c6
// #ffffff
