// Color variables
$default-color: #222;
$background-color: #f4f4f4;
$border-color: rgb(160, 160, 160);

// Type
$title-color: #3c3b3b;



// Features
$accent-color: #2ebaae;
$selection-color: #b3d4fc;
