// Fonts

// General use font-family
$general_font: "Raleway", Helvetica, sans-serif;

// Type font
$type-font: "Source Sans Pro", Helvetica, sans-serif;

// Code font
$code_font: "Courier New", monospace;
