// Fonts

// General use font-family
// $general_font: "Raleway", Helvetica, sans-serif;
$general_font: 'Roboto Condensed', Sans-Serif;

// Type font
// $type-font: "Source Sans Pro", Helvetica, sans-serif;
$type-font: 'Lato', Sans-Serif;

// Code font
$code_font: "Courier New", monospace;
